* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.container {
    width: 800px;
    margin: 200px auto;
}

h1 {
    text-align: center;
    font-size: 60px;
}

.faq_item {}

.faq_list {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.question_text {
    font-size: 24px;
}

.answer {
    font-weight: bold;
    color: orange;
    font-size: 18px;
    height: 0;
    overflow: hidden;
    transition: all 1s;
}

.faq_list.active .answer {
    height: 30px;
}

.faq_list .icon {
    transition: all .5s;
}

.faq_list.active .icon {
    transform: rotate(180deg);
}
